
<table>

    <tr>
        <td>
           @Html.Label("Регистрационный номер")
        </td>
         <td>
            @Html.TextBox("RegNumber")
        </td>
         <td>
           @Html.Label("Станция отправления")
        </td>
         <td>
            @Html.TextBox("DispatchStation")
        </td>
         <td>
           @Html.Label("Классификатор ГНГ")
        </td>
         <td>
            @Html.TextBox("GHGClassificator")
        </td>

    </tr>
    
    <tr>
        <td>
           @Html.Label("Дата регистрации")
        </td>
         <td>
            @Html.TextBox("RegDate")
        </td>
            <td>
           @Html.Label("Станция прибытия")
        </td>
         <td>
            @Html.TextBox("ArriveStation")
        </td>
        <td>
           @Html.Label("Классификатор ЕТСНГ")
        </td>
         <td>
            @Html.TextBox("ETSNGClassificator")
        </td>
    </tr>
    
            
</table>