@{
    ViewBag.Title = "Главная страница";
}
        
<div class="span12 form-actions" style="padding-top: 20px">
    
    @Html.Partial("FilterView")
    <table id="list2"></table>
    <div id="pager2"></div>
            @Html.ActionLink("Create New", "Index", "Transportation")
</div>
<div id="dialog" title="Basic dialog" action = @Url.Action("PartView", "Grid")></div>
<div id="consumpt_dialog" title="Расход" action = @Url.Action("Consumption", "Grid")></div>
<div id="loader_dialog" title="Загрузка" action = @Url.Action("Loader", "Grid")></div>