
@{
    ViewBag.Title = "Index";
}
<<<<<<< HEAD

    <div class="span12">
        <h2>Index</h2>
        @Html.Partial("FilterView")
        <button id = "search_btn">Поиск</button>
        <table id="list2"></table>
        <div id="pager2"></div>
        @Html.Partial("NewView")
        @Html.ActionLink("Новый вью", "NewView")
=======
<div class="span12">
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Главная таблица</a></li>
            <li><a href="#tabs-2">Proin dolor</a></li>
            <li><a href="#tabs-3">Aenean lacinia</a></li>
        </ul>
        <div id="tabs-1">
            <h2>Index</h2>
            <table id="list2"></table>
            <div id="pager2"></div>
            @Html.Partial("NewView")
            @Html.ActionLink("Новый вью", "NewView")
        </div>
        <div id="tabs-2">
            @Html.Partial("NewView")
        </div>
        <div id="tabs-3">
            @Html.Partial("NewView")
            <div class="btn btn-info">
                <button id="BUTTON_dialog">Показать диалог</button>
            </div>
        </div>
>>>>>>> 3b258c0abeccc44c09cddd355a9631e75a14b4ed
    </div>
</div>
<div id="dialog" title="Basic dialog" action = @Url.Action("PartView", "Grid")>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(function() {
            $("#tabs").tabs();
        });

		$( "#dialog" ).dialog({
			autoOpen: false,
			show: {
				effect: "blind",
				duration: 100
			},
			hide: {
				effect: "explode",
				duration: 100
			},
			buttons: {
			    "Ok":function() {
			        alert($('#dialog').attr('action'));
			    },
			    "Отмена": function() {
			        $('#dialog').empty();
			        $(this).dialog("close");
			    }
			}
		});

        $('#BUTTON_dialog').click(function() {
            var action = $('#dialog').attr('action');
            $.get($('#dialog').attr('action'), null, function(data) {
                $('#dialog').html(data);}, 'html').complete(function() { $("#dialog").dialog("open"); 
            });
        });

        $('#list2').jqGrid({
            url: '/Grid/GridView',
            datatype: "json",
            colNames: ['№', 'Регистрационный номер', 'Станция отправления', 'Станция прибытия', 'Классификатор груза по ГНГ', 'Классификатор груза по ЕТСНГ', 'Количество транспортных средств', 'Общий вес перевозки', 'Комментарии', 'Дата регистрации'],
            colModel: [
                { name: 'Id', width: 20, align: "center" },
                { name: 'RegNumber', width: 150, align: "center" },
                { name: 'DispatchStation', width: 150, align: "center" },
                { name: 'ArriveStattion', width: 150, align: "center" },
                { name: 'GHGClassificator', width: 200, align: "center" },
                { name: 'ETSNGClassificator', width: 200, align: "center" },
                { name: 'TransportCount', width: 200, align: "center" },
                { name: 'FullWeight', width: 150, align: "center" },
                { name: 'Comments', width: 150, align: "center" },
                { name: 'RegDate', width: 150, align: "center" }
            ],
            height: 'auto',
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: '#pager2',
            sortname: 'Id',
            viewrecords: true,
            sortorder: "desc",
            caption: "Перевозка",
            onSelectRow: function(id) {
                alert(id);
            },
        });

        $('#search_btn').click(function() {
            var url = '/Grid/GridView?' + 'RegNumber=' + $('#RegNumber').val();
            $('#list2').jqGrid('setGridParam', { url: url });
            $('#list2').trigger('reloadGrid');
        });

        $("#list2").jqGrid('navGrid', '#pager2', 
        { edit: false, add: false, del: false },
        {}, // Опции окон редактирования
        {}, // Опции окон добавления
        {}, // Опции окон удаления
        {
         width:700,        
        }  // Опции окон поиска
        
        );

    });

        
</script>

