@model Forwarder.Models.LoadModel
 
@using (Html.BeginForm("LoaderData", "Grid", "Post"))
{    
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.LoadId)

    <div class="row">       
            <div class="span3">
                
            <div class="control-group">
                <label class="span3 text-left">Загрузка</label>
                <div class="controls">              
                    @Html.TextBoxFor(m => m.Volume)
                </div>
            </div>
            <div class="control-group">
                <label class="span3 text-left">Ставка</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Rate)
                </div>
            </div>
           
        </div>
        <div class="span3">
           
            <div class="control-group">
                <label class="span3 text-left">Расход</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Expense, new Dictionary<string, object>() { { "readonly", "true" } })
                </div>
            </div>
            <div class="control-group">
                <label class="span3 text-left">Метод расчета</label>
                <div class="controls">
                    @Html.DropDownListFor(m => m.Method, Model.Methods)
                </div>
            </div>
        
        </div>
        <div class="span3">
           
            <div class="control-group">
                <label class="span3 text-left">Количество</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.Count)
                </div>
            </div>

          
        </div>
        <div class="form-actions">
            <button type = "submit" id = "save_btn" style="margin: 0 0 0 100px;">Сохранить</button>
        </div>
    </div>
}