@model Forwarder.Models.TransportationModel

@{
    ViewBag.Title = "Перевозка";
}

<div class="row">
    <div class="span3">
       @using (Html.BeginForm())
       {
           <div class = "form-inline">

               @Html.HiddenFor(m=>m.Id)

               <div class="control-group">
                   <label class="span3 text-left">Регистрационный номер</label>
                   <div class="controls">   
                       @Html.TextBoxFor(m=>m.RegNumber)
                   </div>
               </div>
               <div class="control-group">
                   <label class="span3 text-left">Груз по ГНГ</label>
                   <div class="controls">   
                       @Html.DropDownListFor(m=>m.GngId, Model.GngItems)
                   </div>
               </div>
               <div class="control-group">
                   <label class="span3 text-left">Груз по ЕТСНГ</label>
                   <div class="controls">   
                      @Html.DropDownListFor(m=>m.EtsngId, Model.EtsngItems)
                   </div>
               </div>
               <div class="control-group">
                   <label class="span3 text-left">Станция назначения</label>
                   <div class="controls">   
                       @Html.DropDownListFor(m => m.SourceStationId, Model.StationItems)

                   </div>
               </div>
               <div class="control-group">
                   <label class="span3 text-left">Станция прибытия</label>
                   <div class="controls">   
                      @Html.DropDownListFor(m => m.DestinationStationId, Model.StationItems)
                   </div>
               </div>
               <div class="control-group">
                   <label class="span3 text-left">Коментарий</label>
                   <div class="controls">   
                       @Html.TextBoxFor(m=>m.Comment)
                   </div>
               </div>
               <div class="control-group">       
                    <button type="submit" class="btn btn-primary">Сохранить</button>          
               </div>
           </div>
       }
    </div>
    </div>
    <div class="left">
        <div class="span3">
            <div class="control-group">
                <label class="span3 text-left">Планируемый расход</label>
                    <div class="controls">   
                        @Html.TextBoxFor(m=>m.PlannedExpense, new { @readonly = "true" })
                    </div>
            </div>
            <div class="control-group">
                <label class="span3 text-left">Планируемая сумма с клиента</label>
                    <div class="controls">   
                        @Html.TextBoxFor(m => m.PlannedPrice, new { @readonly = "true" })
                    </div>
            </div>
             <div class="control-group">
                <label class="span3 text-left">Планируемая прибыль</label>
                    <div class="controls">   
                        @Html.TextBoxFor(m => m.PlannedProfit, new { @readonly = "true" })
                    </div>
            </div>
       </div>
    </div>
</div>

<div>
   <div id="pager2"></div> 
                
    <table id = "loaders"></table>
    <div id ="add_loading" class="btn btn-primary controls">+</div>
    <div id ="delete_loading" class="btn btn-primary controls">-</div>

    <table id = "route"></table>
    <div id ="add_route" class="btn btn-primary controls">+</div>
    <div id ="delete_route" class="btn btn-primary controls">-</div>    

     @Html.ActionLink("Отгрузка", "Shipping")
     @Html.ActionLink("Печать","#")

    <div id="consumpt_dialog" title="Расход" action = @Url.Action("Consumption", "Grid")></div>
    <div id="loader_dialog" title="Загрузка" action = @Url.Action("Loader", "Grid")></div>
    <div id="route_dialog" title="Маршрут" action = @Url.Action("Route", "Grid")></div>
    <div id="edit_consumpt" title="Расход" action = @Url.Action("Consumpt", "Grid")></div>
    <div id="shipping_dialog" title="Отгрузка" action = @Url.Action("Shipping", "Grid")></div>
    <div id="delno_dialog" title="Подтвердите удаление данных"></div>     

 </div>
    
